  <% @ideas.each do |idea| %>
    <div class="rounded-lg overflow-hidden shadow-lg flex p-1 justify-center flex-col items-center ">
      <div class="px-6 py-8 h-full text-center ">
        <div class="font-bold text-xl mb-2"><%= idea.description %></div>
        <p class="text-sm text-gray-700 "><%= idea.author %></p>
      </div>
      <div class="flex">
      <a href="/ideas/<%=idea.id%> %>/edit">

        <button class="bg-blue-900 text-white rounded mx-6 p-0.5">Edit</button>
      </a>
      <%= button_to "Delete", idea_path(idea), method: :delete, class:"bg-blue-500  text-white rounded p-0.5 mx-2 "%>
      <%=link_to "Revise",edit_idea_path(idea), class:"bg-green-500 text-white rounded p-0.5 "%>
      </div>
    </div>
  <% end %>
  <div class="mt-5 flex justify-center">
  <%== pagy_nav(@pagy) if @pagy.pages > 1 %>
</div>
  
